<template>
      <v-card>
        <v-card-title class="justify-center">
          Delete This Post
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row justify="space-around">
              <v-col cols="6" md="3">
                <v-btn
                    color="error"
                    @click.native="close"
                >Cancel</v-btn>
              </v-col>
              <v-col cols="6" md="3" >
                <v-btn
                    color="primary"
                    @click="deletepost"
                >Confirm</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data () {
        return {
            id : null,
            apiDomain : 'https://demo-api-vue.sanbercloud.com'
        }
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
        }),
        close(){
            this.title = ''
            this.description = ''
            this.$emit('closed', false)
        },
        deletepost(){
            const config = {
                headers : {
                  Authorization : "Bearer " + this.token
                },
                method : 'post',
                url : this.apiDomain + "/api/v2/blog/" + this.id,
                params : {
                    _method : "DELETE"
                }
            }
            this.axios(config)
                .then(() => {
                    this.setAlert({
                        status : true,
                        color : 'primary',
                        text : 'Post Berhasil Dihapus!'
                    })
                    this.close()
                })
                .catch((response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Gagal Menghapus Post : ' + response
                    })
                })
        }
    },
    computed : {
        ...mapGetters({
          params : 'dialog/params',
          token : 'auth/token'
        })
    },
    created() {
      this.id = this.params.id
    }
}
</script>