<template>
      <v-card>
        <v-card-title class="justify-center">
          Create Post
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="title"
                  label="Title"
                  required
                  clearable
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea
                    v-model="description"
                    outlined
                    label="Description"
                    clearable
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click.native="close"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="submit"
          >
            Create
          </v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data () {
        return {
            title : '',
            description : '',
            apiDomain : 'https://demo-api-vue.sanbercloud.com'
        }
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
        }),
        close(){
            this.title = ''
            this.description = ''
            this.$emit('closed', false)
        },
        submit(){
            let formdata = new FormData()
            formdata.append('title', this.title)
            formdata.append('description', this.description)
            const config = {
                headers : {
                  Authorization : "Bearer" + this.token,
                  Accept: 'application/json'
                },
                method : 'post',
                url : this.apiDomain + "/api/v2/blog",
                data : formdata
            }
            this.axios(config)
                .then(() => {
                    this.setAlert({
                        status : true,
                        color : 'primary',
                        text : 'Berhasil Membuat Post!'
                    })
                    this.close()
                })
                .catch((response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Gagal Membuat Post : ' + response
                    })
                })
        }
    },
    computed : {
      ...mapGetters({
        token : 'auth/token'
      })
    }
}
</script>