<template>
    <keep-alive>
        <v-dialog v-model="dialog" persistent max-width="500px" transition="dialog-bottom-transition">
            <component :is="currentComponent" @closed="setDialogStatus"></component>
        </v-dialog>
    </keep-alive>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    components : {
        Login : () => import('./LoginComponent.vue'),
        Register : () => import('./RegisterComponent.vue'),
        createpost : () => import('./CreatePostComponent.vue'),
        editpost : () => import('./EditPostComponent.vue'),
        deletepost : () => import('./ConfirmationComponent.vue'),
        uploadimage : () => import('./UploadImageComponent.vue')
    },
    computed : {
        ...mapGetters({
            dialogStatus : 'dialog/status',
            currentComponent : 'dialog/component'
        }),
        dialog: {
            get() {
                return this.dialogStatus
            },
            set(value) {
                this.dialogStatus(value)
            }
        }
    },
    methods : {
        ...mapActions({
            setDialogStatus : 'dialog/setStatus'
        })
    }
}
</script>