<template>
      <v-card>
        <v-card-title class="justify-center">
          Upload Photo
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-file-input
                  v-model="photo"
                  label="Upload Post Image"
                  accept="image/*"
                  required
                  clearable
                >
                </v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click.native="close"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="submit"
          >
            Upload
          </v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data () {
        return {
            photo : null,
            apiDomain : 'https://demo-api-vue.sanbercloud.com'
        }
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
        }),
        close(){
            this.photo = null
            this.$emit('closed', false)
        },
        submit(){
            console.log(this.photo)
            let formdata = new FormData()
            formdata.append('photo', this.photo)
            const config = {
                headers : {
                  Authorization : "Bearer" + this.token
                },
                method : 'post',
                url : this.apiDomain + "/api/v2/blog/" + this.params.id + "/upload-photo",
                data : formdata
            }
            this.axios(config)
                .then(() => {
                    this.setAlert({
                        status : true,
                        color : 'primary',
                        text : 'Berhasil Mengubah Gambar Post!'
                    })
                    this.close()
                })
                .catch((response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Gagal Mengubah Gambar Post : ' + response
                    })
                })
        },
        selectimage(image){
          this.photo = image
        }
    },
    computed : {
      ...mapGetters({
        params : 'dialog/params',
        token : 'auth/token',
        user : 'auth/user'
      })
    }
}
</script>