<template>
    <div>
        <v-card v-if="blog.id">
            <v-row justify="center">
                <v-col cols="6" md="4" >
                    <v-img
                        :src="blog.photo ? apiDomain + blog.photo : 'https://ilogo.co.id/wp-content/uploads/2021/07/dummy-image-square.jpg'"
                        class="white--text ml-auto"
                        width="600px">
                        <v-card-title
                            class="fill-height align-end justify-center"
                            v-text="blog.title">
                        </v-card-title>
                     </v-img>
                </v-col>
            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td><v-icon>mdi-format-title</v-icon> Judul</td>
                            <td class="blue--text">{{ blog.title }} </td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-note</v-icon> Deskripsi</td>
                            <td>{{ blog.description }} </td>
                        </tr>
                    </tbody>
                </v-simple-table>
                    <v-row>
                        <v-col cols="5.5">
                            <v-btn bottom color="primary" fab fixed dark @click="editpost" v-if="!guest">
                                <v-icon>mdi-pencil-outline</v-icon>
                            </v-btn>
                        </v-col>
                        <v-col cols="5.5">
                            <v-btn bottom color="primary" fab fixed dark @click="uploadimage" v-if="!guest">
                                <v-icon>mdi-image-plus</v-icon>
                            </v-btn>
                        </v-col>
                        <v-col cols="1">
                            <v-btn bottom color="error" fab fixed dark @click="deletepost" v-if="!guest">
                                <v-icon>mdi-delete-outline</v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
            </v-card-text>
            
                
            </v-row>
            
        </v-card>
        
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data : () => ({
        blog : {},
        apiDomain: 'https://demo-api-vue.sanbercloud.com'
    }),
    computed: {
        ...mapGetters({
            guest : 'auth/guest',
            params : 'dialog/params'
        })
    },
    methods : {
        go() {
            let { id } = this.$route.params
            const config = {
                method : "get",
                url : `${this.apiDomain}/api/v2/blog/${id}`
            }
            this.axios(config)
                .then(response => {
                    let {blog} = response.data
                    this.blog = blog
                    console.log(blog)
                })
                .catch(error => {
                    console.log(error)
                })
        },
        editpost(){
            this.setDialogComponent({
                'component' : 'editpost',
                'params' : this.blog
            })
            this.$forceUpdate()
        },
        deletepost(){
            this.setDialogComponent({
                'component' : 'deletepost',
                'params' : this.blog
            })
        },
        uploadimage(){
            this.setDialogComponent({
                'component' : 'uploadimage',
                'params' : this.blog
            })
        }
        ,
        ...mapActions({
            setDialogComponent : 'dialog/setComponent'
        })
    },
    created(){
        this.go()
    }
}
</script>