<template>
  <!-- App.vue -->
  <v-app>

    <Alert/>
    <Dialog/>

    <v-navigation-drawer app v-model="drawer">
      <v-list v-if="guest" >
        <v-list-item>
          <v-btn block color="primary" @click="login">
            <v-icon>mdi-account</v-icon>
              Log-In
          </v-btn>
        </v-list-item>
        <v-list-item>
          <v-btn block color="primary" @click="register">
            <v-icon>mdi-account-details</v-icon>
              Register
          </v-btn>
        </v-list-item>
      </v-list>
      <v-list v-if="!guest">
        <v-list-item >
            <v-list-item-avatar
            size="200"
            >
              <v-img 
                :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png'"
              ></v-img>
            </v-list-item-avatar>
            
        </v-list-item>

        <v-list-item >
          <v-list-item-content >
            <v-list-item-title class="text-h6">
              {{ user.name }}
            </v-list-item-title>
            <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        
      </v-list>
      <v-divider></v-divider>
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="selectedItem"
          color="primary"
        >
          <v-list-item
            v-for="(menu, i) in menus"
            :key="`menu-${i}`"
            :to="menu.route"
          >
            <v-list-item-icon>
              <v-icon v-text="menu.icon"></v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="menu.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <template v-slot:append v-if="!guest">
        <v-btn block color="primary" dark @click="createpost">
          <v-icon left>mdi-lock</v-icon>
          Create Post
        </v-btn>
        <v-btn block color="red" dark @click="logout">
          <v-icon left>mdi-lock</v-icon>
          Logout
        </v-btn>
      </template>
    </v-navigation-drawer>

    <v-app-bar app >
      
      <v-toolbar-items>
        <v-icon left @click="drawer = !drawer">mdi-format-list-bulleted</v-icon>
      </v-toolbar-items>
      <v-toolbar-title>SanbercodeApp</v-toolbar-title>
      <!-- -->
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
      
    </v-main>

    <v-footer app>
      @Sanbercode | VueJS
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  components: { 
    Alert : () => import('./components/AlertComponent.vue'),
    Dialog : () => import('./components/DialogComponent.vue')
  },
  name: 'App',

  data: () => ({
    drawer: true,
    selectedItem: 0,
    menus: [
      { title : `Home`, icon : `mdi-home`, route : '/'},
      { title : `Blogs`, icon : `mdi-note`, route : '/blogs'}
    ],
    apiDomain : 'https://demo-api-vue.sanbercloud.com/'
  }),
  computed : {
    ...mapGetters({
      guest : 'auth/guest',
      user : 'auth/user',
      token : 'auth/token'
    })
  },
  methods : {
    logout(){
      let config = {
        method : 'post',
        url : 'https://demo-api-vue.sanbercloud.com/api/v2/auth/logout',
        headers : {
          'Authorization' : 'Bearer ' + this.token 
        }
      }
      
      this.axios(config)
        .then(() => {
          this.setToken('')
          this.setUser({})
          this.setAlert({
            status : true,
            color : 'primary',
            text : 'Anda Berhasil Logout!'
          })
        })
        .catch((response) => {
          this.setAlert({
            status : true,
            color : 'error',
            text : response.data.error
          })
        })
      
    },
    login(){
      this.setDialogComponent({'component' : 'login'})
    },
    register(){
      this.setDialogComponent({'component' : 'register'})
    },
    createpost(){
      this.setDialogComponent({'component' : 'createpost'})
    },
    ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
      setToken : 'auth/setToken',
      setUser : 'auth/setUser',
      checkToken : 'auth/checkToken'
    })
  },
  mounted(){
    if(this.token){
      this.checkToken(this.token)
    }
  }
};
</script>
